<!-- internship.component.html -->
<section class="internship-section" data-aos="fade-up">
  <div class="container">
    <h2>💼 Internship + Real-Time Client Work</h2>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="timeline">
          <div class="timeline-block" *ngFor="let step of stages" data-aos="fade-up">
            <div class="timeline-icon">{{ step.icon }}</div>
            <div class="timeline-content">
              <h5>{{ step.title }}</h5>
              <p>{{ step.desc }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <app-slide-nav [backRoute]="'slide-19'" [FrontRoute]="'slide-21'"></app-slide-nav>

