<!-- orbit-career-path.component.html -->
<section class="orbit-slide-wrapper d-flex align-items-center justify-content-center text-white" id="orbitSlide" data-aos="fade-up">
  <div class="orbit-container text-center">
    <h2 class="orbit-title mb-5" data-aos="zoom-in" style="
    margin-top: -85px;
">🚀 Your Career Path in Full-Stack Development</h2>

    <div class="orbit-wrapper position-relative mx-auto">
      <div class="orbit-center">
        <div class="central-icon">
          <img src="https://cdn-icons-png.flaticon.com/512/1093/1093345.png" alt="YOU" />
          <span>YOU</span>
        </div>
      </div>

      <ul class="orbit-layer">
        <li class="orbit-point" data-aos="fade-down"><img src="https://cdn-icons-png.flaticon.com/512/1051/1051277.png" /><span>HTML + CSS</span></li>
        <li class="orbit-point" data-aos="fade-right"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" /><span>JavaScript</span></li>
        <li class="orbit-point" data-aos="fade-up-right"><img src="https://cdn-icons-png.flaticon.com/512/919/919832.png" /><span>TypeScript</span></li>
        <li class="orbit-point" data-aos="fade-up"><img src="https://cdn-icons-png.flaticon.com/512/732/732212.png" /><span>Angular</span></li>
        <li class="orbit-point" data-aos="fade-up-left"><img src="https://cdn-icons-png.flaticon.com/512/6132/6132222.png" /><span>.NET Core</span></li>
        <li class="orbit-point" data-aos="fade-left"><img src="https://cdn-icons-png.flaticon.com/512/2772/2772128.png" /><span>SQL Server</span></li>
        <li class="orbit-point" data-aos="fade-down-left"><img src="https://cdn-icons-png.flaticon.com/512/3208/3208725.png" /><span>EF Core</span></li>
        <li class="orbit-point" data-aos="fade-down-right"><img src="https://cdn-icons-png.flaticon.com/512/873/873120.png" /><span>Azure</span></li>
      </ul>
    </div>
  </div>
  <app-slide-nav [currentSlide]="18"></app-slide-nav>
</section>
